header {
    padding: 20px;
    text-align: center;
    background: #ebebeb;
    font-size: 30px;
    margin: 20px;


}
nav {
    padding:20px;
    text-align:center;
    background: #ebebeb;
    font-size: 18px;
    margin: 20px;
}
* {
    box-sizing: border-box;
}
.section {
    float: left;
    width: 430px;
    padding: 50px;
    text-align: center;
    background: #ebebeb;
    margin: 20px;
}
.aside {
    float: left;
    width: 430px;
    padding: 50px;
    text-align: center;
    background: #ebebeb;
    margin: 20px;
    padding-right: 40px;
    
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;

}

footer {
    padding: 20px;
    text-align: center;
    background: #ebebeb;
    font-size: 30px;
    margin: 20px;
}
body {
    /* width: px; */
}