.header {
    padding: 20px;
    text-align: center;
    background: #ebebeb;
    font-size: 30px;
    margin: 20px;


}
.nav {
    padding:20px;
    text-align:center;
    background: #ebebeb;
    font-size: 18px;
    margin: 20px;
}
.section {
    float: left;
    padding: 20px;
    background: #ebebeb;
    width: 45%;
    margin: 20px;
    height: 200px;
}
.aside {
    float: right;
    padding:20px;
    background: #ebebeb;
    width:45%;
    margin: 20px;
    height: 200px;
}
